* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h1 {
  margin-top: 20px;
  padding: 5px;
  opacity: 0.8;
}

button {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background-color: rgb(29, 141, 29);
  color: white;
}

div {
  position: relative;
  padding: 10px;
}

#cancel-btn {
  padding: 6px 9px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  background-color: red;
  font-size: 12px;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: azure;
  box-shadow: 2px 2px 3px gray;
}

.addBookForm h3 {
  opacity: 0.7;
}

input[type="text"],
input[type="number"] {
  padding: 5px;
  border-radius: 5px;
  appearance: none;
  border: 1px solid gray;
}

.addBookForm button {
  margin-top: 10px;
  background-color: rgb(43, 120, 209);
  color: white;
}

ul {
  border: 1px solid gray;
  margin: 10px;
}

ul h3 {
  text-align: center;
  margin-bottom: 10px;
  opacity: 0.8;
}

ul li {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr)) repeat(2, 80px) repeat(
      2,
      minmax(120px, 160px)
    );
  gap: 5px;
  background-color: rgb(201, 216, 215);
}

.no-books {
  padding: 15px;
}